/* CSS Document */

body {
 margin: 15px;
 color: #FFFFFF;
 background: #FFFFFF;
 font-family: Arial, Helvetica, Verdana, sans-serif;
 font-size: 11px;
 }
 
 html {
 margin: 15px;
 color: #000000;
 font-family: Arial, Helvetica, Verdana, sans-serif;
 font-size: 12px;
}

p {
font-family: Arial, Helvetica, sans-serif;
color: #000000;
font-size: 12px;
}


