/* CSS Document */

body { background-color: #193C78; 
       font-family:  Arial, Verdana, Helvetica, sans-serif; 
	   font-size: 12px;
	   color: #FFFFFF; }

a:link, a:visited { color: #FFFFFF; 
         text-decoration: none;}
		 
a:hover { text-decoration: underline; }

#outer { position: relative; width: 800px; height:600px; }

#frontbanner { position: absolute; left: 0px; top: 0px; }

/* .menuouter {width: 200px; margin-top: 20px; } */

#menu { position: absolute; left: 0px; top: 80px; 
        width: 200px;
        padding: 0px 10px 0px 40px; 
		margin-top: 20px; 
		/* min-height: 400px; */
		float: left;}
		

.nav { margin-bottom: 20px;
	   margin-top: 1em; 
       list-style-type: disc;}
			
.nav a { text-decoration: none;
		 margin-left: 1em;
		 font-weight: bold;
		 margin-bottom: 7px;
		 display: list-item; }

.nav a:hover { text-decoration: underline; }

#frontcontent { position: absolute; left: 250px; top: 80px;
				width: 500;
				margin-top: 20px;
				padding-left: 30px; 
				padding-right: 20px; 
				border-left: 2px dotted #7E97BA; }
				
#frontcontent p { width: 460px; }

p { font-family:  Arial, Verdana, Helvetica, sans-serif; 
	   font-size: 12px;
	   color: #FFFFFF; }

#footer { width: 710px; height: 2px; color:#FFFFFF; position: absolute; left: 0px; top: 600px; border-top: 1px solid #7E97BA; margin-left:40px;}

#footer p {text-align: center; padding: 5px;}


	

/* not in use
   
ul { margin-bottom: 20px; 
list-style-type: square;}	
				
ul li { font-weight: bold;
		margin-bottom: 7px; }
		
*/
		
